* {
    font-family: georgia;
}

body {
    margin: 0;
    padding: 0;
}

#map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapboxgl-popup {
    font-size: 12px;
}

.mapboxgl-popup-content {
    padding: 10px;
}

#sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    width: 450px;
    background: #42b2f8b7;
    padding: 10px;
    border-radius: 15px;
}

#sidebar h1 {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 3px;
}

#sidebar p {
    font-size: 15.5px;
    text-align: left;
    padding: 10px;
    line-height: 20px;
    margin-bottom: 10px;
    color: white;
    border-radius: 1px; 
}

#sidebar .header {
    display: flex;
}

#sidebar .source-code-link {
    text-decoration: none;
    font-size: 10px;
    color: #ffffff;
    line-height: 10px;
    margin-top: 5px;
    margin-bottom: 1px;
    text-decoration-line: underline;
}

#sidebar .description-text {
    font-size: 14px;
    text-align: left;
    color: #ffffff;
    letter-spacing: .5px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*button style */
#sidebar .button-50 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, georgia, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    
}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}